.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
}
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-goBack {
  text-decoration: none;
  font-size: 0.8rem;
  /* color for go back button on blog plage */
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}

.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 0.8rem;
  /* color for date on blog page */
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  /* color for blog content */
  color: #faf3f3;;
  margin-top: 1rem;
  margin-bottom: 1rem;
    
}

.blog-title {
  /* color for blog title */
  color: #faf3f3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  max-width: 99%; 
  max-height: 90vh; 
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.expanded-image {
  width: 100%;
  height: auto;
}
