.home-header {
  text-align: center;
  
}

.home-header h2 {
  /* color for "robert Brockmann */
  color: #0080ff;
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  /* Color for  "Tech and web dev"*/
  color: #0f52ba;
  margin-bottom: 1rem;
}



.home-header p {
  /* color for p tag. */
  color: #a9a9a9;
  font-weight: 500;
}

.links-container {
  display: flex;
  height: 5vh;
  margin-top: .5rem;

}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* color for  about button*/
  background-color: #007bff;
  /* text color for about button */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.about-button:hover {
  transform: scale(1.1);
  /* hover shade color */
  background-color: #0b4f99;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* color for toggle button */
  background-color: #007bff;
  /* toggle button text color */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  /* hover shade color */
  background-color: #0b4f99;
}

.toggle-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #000 transparent transparent transparent;  
  border-color: #fff transparent transparent transparent;
  transform: translateY(-50%);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  /* background color for dropdown */
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* link text color */
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background hover color */
  background-color: #c5c4c4;
}

.projects-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* color for  about button*/
  background-color: #007bff;
  /* text color for about button */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}