.home-header {
  text-align: center;
}

.home-header h2 {
  /* color for "robert Brockmann */
  color: #0080ff;
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  /* Color for  "Tech and web dev"*/
  color: #0f52ba;
  margin-bottom: 1rem;
}



.home-header p {
  /* color for p tag. */
  color: #a9a9a9;
  font-weight: 500;
}
